.wrapper {
  margin-top: 84px;
  margin-bottom: 124px;
  display: flex;
  column-gap: 540px;
  justify-content: center;
}

.header {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}

.highlighted {
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    rgba(252, 176, 69, 1) 0%,
    rgba(255, 63, 120, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheading {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 275px;
}
